$title-font-size: 32px;
$gothic-font: Prata, 'Times New Roman';

@font-face {
  src: url("fonts/prata/Prata-Regular.ttf");
  font-family: Prata;
  font-weight: 400;
};

@font-face {
  src: url("fonts/open_sans/OpenSans-Regular.ttf");
  font-family: OpenSans;
  font-weight: 400;
};

html
{
  scroll-behavior: smooth;
}

body
{
  color: #fff;
  font-size: 18px;
  background: #000;
  font-family: OpenSans;
}
p
{
  text-indent: 25px;
  line-height: 150%;
  margin: 25px 0;
  text-align: justify;
}
.page-block
{
  &>.wrapper
  {
    padding: 100px 0;
    margin:  0 auto;
    width: 1100px;
  }
}

%title-separator
{
  content: "";

  display: block;
  width: 540px;
  height: 20px;

  background: url("images/sprites/long separator.png");

  position: absolute;
  left: calc(50% - 270px);
}

.page-title
{
  margin-bottom: 120px;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  font-size: $title-font-size;
  font-family: $gothic-font;

  &::before
  {
    @extend %title-separator;
    bottom: 100%;
  }

  &::after
  {
    @extend %title-separator;
    top: 100%;
  }
}